/* =============================================
			Theme Reset Style					
============================================= */
@import url(https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700|Playfair+Display:400,700|Work+Sans:300,400,500,600,700);
@import url('https://fonts.googleapis.com/css?family=Barlow:700&display=swap');
* {
	margin: 0px;
	padding: 0px;
}
body,
html{
	height:100%;
	position:relative;
}
body {
	color: #666;
	background: #fff;
	/*font:400 14px/23px 'Open Sans', Arial, Helvetica, sans-serif;*/
	font-family: 'Barlow', sans-serif;
}
body h1,
body h2,
body h3,
body h4,
body h5,
body h6 {
	color: #484848;
	margin: 0 0 8px;
	font-weight: 400;
	line-height: 1.5;
	font-style: normal;
	text-transform:capitalize;
	font-family: 'Barlow', sans-serif;
}
h1 { font-size: 48px;}
h2 { font-size: 36px;}
h3 { font-size: 24px;}
h4 { font-size: 18px;}
h5 { font-size: 16px;}
h6 { font-size: 14px;}
h1 a,
h2 a,
h3 a,
h4 a,
h5 a,
h6 a { color: #484848;}
p a,
p a:hover { text-decoration:underline; }
p {
	margin: 0 0 20px;
	line-height: 20px;
	letter-spacing: normal;
}
a { text-decoration: none; }
a:hover, a:focus, a:active {
	outline: none;
	text-decoration: none;
}
ul { margin: 0; }
figure {
	margin-bottom: 6px;
	position: relative;
}
img {
	height: auto;
	max-width: 100%;
}
strong { color: #414141; }
iframe {
	width: 100%;
	float: left;
	border: none;
}
.wp-caption,
.wp-caption-text,
.gallery-caption,
.bypostauthor {}
.wp-caption.alignleft,
.wp-caption.alignnone { width: 100%; }
button { border: none; }
textarea,
select,
.tg-select select,
.form-control,
input[type="text"],
input[type="password"],
input[type="datetime"],
input[type="datetime-local"],
input[type="date"],
input[type="month"],
input[type="time"],
input[type="week"],
input[type="number"],
input[type="email"],
input[type="url"],
input[type="search"],
input[type="tel"],
input[type="color"],
.uneditable-input {
	color: #666;
	outline: none;
	height: 40px;
	background:#fff;
	font-size: 14px;
	box-shadow: none;
	line-height: 18px;
	padding: 10px 20px;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}
textarea.form-control{
	resize: none;
	height: 210px;
}
.form-control::-webkit-input-placeholder { color: #666; } /* WebKit, Blink, Edge */
.form-control:-moz-placeholder { color: #666; } /* Mozilla Firefox 4 to 18 */
.form-control::-moz-placeholder { color: #666; } /* Mozilla Firefox 19+ */
.form-control:-ms-input-placeholder { color: #666; } /* Internet Explorer 10-11 */
.form-control::-ms-input-placeholder { color:#66; } /* Microsoft Edge */
input:focus,
.select select:focus,
.form-control:focus {
	color: #666;
	border-color: #666;
	box-shadow:none !important;
}
.form-group {
	width: 100%;
	float: left;
	margin:0 0 20px;
}
label {
	color: #666;
	display: block;
	font-weight: 400;
	margin-bottom: 10px;
}
form p {
	float: left;
	position: relative;
	width: 100%;
}
form p span i {
	top: 13px;
	left: 16px;
	color: #474747;
	position: absolute;
}
option { padding: 5px 15px; }
li {
	line-height: 28px;
	list-style: disc inside none;
}
ul ul { margin-left: 20px; }
ol {
	float: none;
	list-style: decimal;
	padding-left: 15px;
}
ol ol { margin-left: 20px; }
ol li {
	list-style: decimal;
	width: 100%;
}
table {
	background-color: transparent;
	max-width: 100%;
}
th { text-align: left; }
table {
	width: 100%;
	margin-bottom: 15px;
}
table > thead > tr > th,
table > tbody > tr > th,
table > tfoot > tr > th,
table > thead > tr > td,
table > tbody > tr > td,
table > tfoot > tr > td {
	border-top: 1px solid #dbdbdb;
	border: 1px solid #dbdbdb;
	line-height: 2.5;
	padding-left: 3px;
	text-align: center;
	vertical-align: top;
}
table thead tr th {
	border-top: 1px solid #dbdbdb;
	text-align: center;
	text-transform: capitalize;
}
.table > caption + thead > tr:first-child > th,
.table > colgroup + thead > tr:first-child > th,
.table > thead:first-child > tr:first-child > th,
.table > caption + thead > tr:first-child > td,
.table > colgroup + thead > tr:first-child > td,
.table > thead:first-child > tr:first-child > td { border-top: 1px solid #dbdbdb; }
table > thead > tr > th {
	border-bottom: 2px solid #dbdbdb;
	vertical-align: bottom;
}
table > caption + thead > tr:first-child > th,
table > colgroup + thead > tr:first-child > th,
table > thead:first-child > tr:first-child > th,
table > caption + thead > tr:first-child > td,
table > colgroup + thead > tr:first-child > td,
table > thead:first-child > tr:first-child > td { border-bottom: 0; }
table > tbody + tbody { border-top: 2px solid #dbdbdb; }
.table > thead > tr > th,
.table > tbody > tr > th,
.table > tfoot > tr > th,
.table > thead > tr > td,
.table > tbody > tr > td,
.table > tfoot > tr > td { padding: 6px 10px; }
p ins { color: #666; }
dl dd { margin-left: 20px; }
address { font-style: italic; }
/* Theme Custom Select */
.tg-select {
	color:#666;
	float:left;
	width: 100%;
	position: relative;
	text-transform:uppercase;
}
.tg-select:after {
	top: 0;
	right: 15px;
	z-index: 2;
	color: #666;
	display: block;
	content: '\f107';
	position: absolute;
	text-align: center;
	font-size: inherit;
	line-height: 40px;
	font-family: 'FontAwesome';
}
.tg-select select {
	z-index: 1;
	width: 100%;
	position: relative;
	appearance: none;
	-moz-appearance: none;
	-webkit-appearance: none;
}
.tg-select select option { color:#666; }
/*Theme Global Elements */
.tg-haslayout {
	width:100%;
	float:left;
}
.tg-sectionspace {padding: 100px 0;}
.tg-locationmap {
	width: 100%;
	float: left;
	height: 500px;
}
.tg-btn {
	color: #666;
	padding: 0 50px;
	background: #fff;
	position:relative;
	text-align:center;
	border-radius: 4px;
	display: inline-block;
	vertical-align: middle;
	border: 1px solid #dbdbdb;
	text-transform: capitalize;
	font:400 13px/38px 'Barlow', sans-serif;
}
.tg-btn:hover,
.tg-btn.tg-active {color:#fff;}
.tg-socialicons {
	overflow: hidden;
	list-style: none;
	text-align:center;
	line-height: 30px;
}
.tg-socialicons li {
	float: left;
	padding: 0 4px;
	line-height: inherit;
	list-style-type: none;
}
.tg-socialicons li a {
	width:30px;
	height:30px;
	color: #fff;
	display:block;
	background:#000;
	overflow:hidden;
	line-height: 30px;
	position:relative;
	text-align: center;
	border-radius: 30px;
	text-transform:capitalize;
}
li.tg-facebook a { background:#3b5999; }
li.tg-twitter a { background:#55acee; }
li.tg-linkedin a { background:#0077B5; }
li.tg-googleplus a { background:#dd4b39; }
li.tg-rss a { background:#ff6600; }
.tg-socialicons li a i {
	color: #fff;
	width: 30px;
	display:block;
	font-size:13px;
	line-height:30px;
	text-align:center;
}
.tg-socialicons li a:hover { color: #fff; }
.tg-roundicontext .tg-usericonholder {
	width: 250px;
	display: block;
	overflow: hidden;
	font-style: normal;
}
.tg-description {
	width: 100%;
	float: left;
}
.tg-formtheme{
	width: 100%;
	float: left;
}
.tg-formtheme fieldset{
	border: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	float: left;
	position: relative;
}
/*Theme BreadCrumb Style */
.tg-breadcrumb {
	width:auto;
	padding: 0;
	color: #fff;
	margin:0 auto;
	list-style: none;
	text-align: center;
	display:inline-block;
	text-transform: capitalize;
	font:500 16px/30px 'Barlow', sans-serif;
}
.tg-breadcrumb li {
	width:auto;
	list-style-type:none;
	display: inline-block;
	vertical-align: middle;
	line-height:inherit;
	padding:0 15px;
	position:relative;
}
.tg-breadcrumb li:after {
	top:0;
	left:-3px;
	content:'\f105';
	position:absolute;
	font-family:'FontAwesome';
}
.tg-breadcrumb li:first-child:after { display: none; }
.tg-breadcrumb li a {
	display:block;
	color:#fff;
}
.tg-sectionhead {
	width: 100%;
	float: left;
	margin: 0 0 15px;
	padding: 0 100px 30px 0;
	border-bottom: 1px solid #dbdbdb;
}
.tg-sectionhead h2 {
	margin: 0;
	float: left;
	font-size: 30px;
	line-height: 20px;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    color: #0084ff;
}
.tg-sectionhead h2 span {
	display: block;
	font-size: 16px;
	line-height: 16px;
	padding: 0 0 10px;
}
.tg-sectionhead .tg-btn,
.tg-btnstyletwo {
	float: right;
	padding: 0 25px;
	margin: 6px 0 0;
	border-radius: 20px;
}
.tg-btnstyletwo {
	float: none;
	display: inline-block;
	vertical-align: top;
}
.tg-btnstyletwo i,
.tg-btnstyletwo em {
	float: left;
	font-style: normal;
	line-height: inherit;
}
.tg-btnstyletwo i{padding: 0 5px 0 0;}
.tg-btnstyletwo:hover { box-shadow: none !important; }
.tg-wrapper {overflow:hidden;}
.tg-content,
.tg-twocolumns{
	width:100%;
	float:left;
}
/*Theme Header Style */
.tg-header {
	z-index: 3;
	position: relative;
	box-shadow: 0px 0px 10px 0px #a2a2a2;
}
.tg-middlecontainer {
	z-index: 2;
	width: 100%;
	float: left;
	padding: 5px 0;
	position: relative;
}
.tg-logo {
	z-index:2;
	float: left;
	padding: 10px 0;
	position:relative;
}
.tg-logo a { display: block; }
.tg-logo a img { display: block; }
.tg-searchbox {
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    padding: 0 0 0 71rem;
    position: absolute;
}
.tg-nav {
	width: 100%;
	float: right;
	padding: 0 0 2px;
	font:500 14px/58px 'Barlow', sans-serif;
}
.tg-navigation {
	padding: 0;
	width: 100%;
	float: left;
	text-align: center;
}
.tg-navigation ul {
	list-style: none;
	font-size: inherit;
	line-height: inherit;
}
.tg-navigation > ul {
	width:100%;
	float:left;
	position: relative;
	display: inline-block;
	vertical-align: top;
}
.tg-navigation > ul > li{
	float: left;
	font-size: inherit;
	line-height: inherit;
}
.tg-navigation ul li {list-style-type: none;}
.tg-navigation ul li a {
	display: block;
	position: relative;
	background: transparent;
}
.tg-navigation > ul > li > a {
	color: #000;
	padding: 0 25px;
	text-transform: uppercase;
}
.tg-navigation > ul > li > a > i {
	display: block;
	font-size: 20px;
	line-height: inherit;
}
.tg-navigation > ul > li.menu-item-has-children > a {
	padding-right: 40px;
	position: relative;
}
.tg-navigation > ul > li.active > a,
.tg-navigation > ul > li > a:hover,
.tg-navigation > ul > li.current-menu-item > a { background: rgb(0, 132, 255); color: #fff}
.tg-navigation > ul > li:last-child .sub-menu {
	left: auto;
	right: 0;
}
/*Status Style*/
.tg-allstatus {
	z-index: 2;
	width: 100%;
	float: left;
	position: relative;
	margin: -100px 0 0;
}
.tg-parallax {
	width: 100%;
	float: left;
	overflow: hidden;
	margin-top: 0px;
	margin-bottom: 50px;
}
.tg-bgbookwehave .tg-status { background: rgba(73, 186, 207, 0.85); }
.tg-bgtotalmembers .tg-status { background: rgba(147, 100, 141, 0.85); }
.tg-bghappyusers .tg-status { background: rgba(241, 103, 69, 0.85); }
.tg-status {
	color: #fff;
	padding: 10px;
	overflow: hidden;
}
.tg-statuscontent {
	width: 100%;
	float: left;
	min-height: 180px;
	border: 1px solid #fff;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-direction: normal;
	-ms-flex-direction: column;
	flex-direction: column;
}
.tg-statusicon{
	color: #fff;
	font-size: 40px;
	line-height: 40px;
	padding: 0 0 20px;
}
.tg-statuscontent h2{
	margin: 0;
	color: #fff;
	font-size: 24px;
	line-height: 24px;
}
.tg-statuscontent h2 span{
	display: block;
	padding: 10px 0 0;
	text-align: center;
}
/*Best Selling Book Style */
.tg-postbook {
	width: 100%;
	float: left;
	padding: 15px 0;
}
.tg-featureimg {
	margin: 0;
	width: 100%;
	float: left;
	overflow: hidden;
	position: relative;
}
.tg-bookimg{
	width: 100%;
	float: left;
	position: relative;
}
.tg-frontcover {
	z-index: 2;
	width: 100%;
	float: left;
	position: relative;
}
.tg-frontcover:before{
	top: 0;
	left: 0;
	z-index: 3;
	content: '';
	width: 100%;
	height: 100%;
	position: absolute;
	background:
		-moz-linear-gradient(left,
		rgba(0,0,0,0) 8%,
		rgba(0,0,0,0.1) 5%,
		rgba(0,0,0,0) 13%);
	background:
		-webkit-linear-gradient(left,
		rgba(0,0,0,0) 8%,
		rgba(0,0,0,0.1) 5%,
		rgba(0,0,0,0) 13%);
	background:
		linear-gradient(to right,
		rgba(0,0,0,0) 8%,
		rgba(0,0,0,0.1) 5%,
		rgba(0,0,0,0) 13%);
	filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00000000', endColorstr='#00000000',GradientType=1 );
}
.tg-backcover {
	top: 2%;
	left: 0;
	z-index: 1;
	width: 100%;
	height: 96%;
	overflow: hidden;
	background: #000;
	position: absolute;
}
.tg-backcover img {
	opacity: 0.60;
	display: block;
}
.tg-backcover:after {
	top: 4%;
	right: 3px;
	z-index: 2;
	width: 15px;
	height: 92%;
	content: '';
	position: absolute;
	background: url('../images/books/bookpattren.png') no-repeat;
	-webkit-background-size: 100% 100%;
	-moz-background-size: 100% 100%;
	-ms-background-size: 100% 100%;
	-o-background-size: 100% 100%;
	background-size: 100% 100%;
}
.tg-bookimg img {
	width: 100%;
	height: auto;
	display: block;
}
.tg-postbook:hover .tg-featureimg { padding: 9px 13px 9px 0; }
.tg-postbook:hover .tg-bookimg {
	-webkit-transform-style: preserve-3d;
	-moz-transform-style: preserve-3d;
	-ms-transform-style: preserve-3d;
	-o-transform-style: preserve-3d;
	transform-style: preserve-3d;
	-webkit-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
	-moz-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
	-ms-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
	-o-transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
	transform: perspective(1000px) rotateY(-30deg) rotateZ(0deg);
}
.tg-postbook:hover .tg-backcover {left: 18px;}
.tg-postbookcontent {
	width: 100%;
	float: left;
	padding: 15px 0 0;
}
.tg-bookscategories {
	width: 100%;
	float: left;
	margin: 0 0 20px;
	font-size: 13px;
	line-height: 13px;
	list-style: none;
	padding: 0 0 8px;
	border-bottom: 1px solid #dbdbdb;
}
.tg-bookscategories li {
	float: left;
	position: relative;
	padding: 0 2px 0 8px;
	line-height: inherit;
	list-style-type: none;
}
.tg-bookscategories li:first-child{padding-left: 0;}
.tg-bookscategories li + li:before {
	left: 0;
	bottom: 0;
	content: ',';
	color: inherit;
	position: absolute;
	font-size: inherit;
	line-height: inherit;
}
.tg-bookscategories li a {
	color: #666;
	display: block;
}
.tg-booktitle {
	width: 100%;
	float: left;
	padding: 0 0 20px;
}
.tg-booktitle h3 {
	margin: 0;
	font-size: 16px;
	font-weight: 500;
	line-height: 19px;
}
.tg-bookwriter {
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 13px;
	padding: 0 0 6px;
}
.tg-bookwriter a {color: #666;}
.tg-postbookcontent .tg-btn {
	width: 100%;
	margin: 20px 0 0;
}
.tg-postbook.tg-notag .tg-postbookcontent .tg-btn{margin: 44px 0 0;}
/*New Release Style*/
.tg-newrelease,
.tg-newreleasebooks{
	width: 100%;
	float: left;
}
.tg-btns .tg-btn{
	float: left;
	margin: 0 30px 0 0;
    font-family: 'Barlow', sans-serif;
    text-transform: uppercase;
    font-size: 17px;
    font-weight: 200;
}
/*Books Collection Counter */
.tg-collectioncount{padding: 80px 0;}
.tg-collectioncounters{
	width: 100%;
	float: left;
}
.tg-collectioncounter{
	width: 25%;
	float: left;
	padding: 0 15px;
	position: relative;
	text-align: center;
}
.tg-collectioncounter + .tg-collectioncounter:before{
	top: 0;
	left: 0;
	width: 1px;
	height: 100%;
	content: '';
	position: absolute;
	background: #dbdbdb;
	-webkit-transform: skewX(-10deg);
	-moz-transform: skewX(-10deg);
	-ms-transform: skewX(-10deg);
	-o-transform: skewX(-10deg);
	transform: skewX(-10deg);
}
.tg-collectioncountericon,
.tg-titlepluscounter{
	display: inline-block;
	vertical-align: middle;
}
.tg-collectioncountericon{
	width: 60px;
	height: 60px;
	overflow: hidden;
	font-size: 30px;
	line-height: 60px;
	border-radius: 50%;
	display: inline-block;
	vertical-align: middle;
}
.tg-collectioncountericon i{
	color: #fff;
	display: block;
	line-height: inherit;
}
.tg-titlepluscounter{
	text-align: left;
	padding: 0 0 0 10px;
}
.tg-titlepluscounter h2{
	margin: 0 0 10px;
	font-size: 22px;
	font-weight: 500;
	line-height: 22px;
}
.tg-titlepluscounter h3{
	margin: 0;
	font:400 16px/16px 'Open Sans', Arial, Helvetica, sans-serif;
}
/*Testimonials Style */
.tg-testimonials{
	width: 100%;
	float: left;
}
.tg-testimonial{
	width: 100%;
	float: left;
}
.tg-testimonial figure{
	width: 135px;
	height: 135px;
	position: relative;
	margin: 0 auto 30px;
}
.tg-testimonial figure:before{
	top: 0;
	right: 0;
	z-index: 2;
	color: #fff;
	width: 50px;
	height: 50px;
	content: '\f10e';
	font-size: 20px;
	line-height: 50px;
	position: absolute;
	text-align: center;
	border-radius: 50%;
	font-family: 'FontAwesome';
}
.tg-testimonial figure img{
	display: block;
	overflow: hidden;
	border: 4px solid;
	border-radius: 50%;
}
.tg-testimonial blockquote{
	border: 0;
	margin: 0;
	width: 100%;
	float: left;
	color: #666;
	padding: 0 0 30px;
	text-align: center;
	font: 300 16px/26px 'Open Sans', Arial, Helvetica, sans-serif;
}
.tg-testimonial blockquote q{
	width: 100%;
	float: left;
}
.tg-testimonialauthor{
	clear: both;
	width: 310px;
	margin: 0 auto;
	padding: 30px 0 0;
	border-top: 1px solid #dbdbdb;
}
.tg-testimonialauthor h3{
	margin: 0;
	color: #404040;
	font-size: 18px;
	font-weight: 500;
	line-height: 18px;
	text-align: center;
}
.tg-testimonialauthor span{
	width: 100%;
	float: left;
	color: #666;
	font-size: 14px;
	line-height: 17px;
	padding: 5px 0 0;
	text-align: center;
}
.tg-testimonialsslider .tg-btnround {
	top: 50%;
	float: none;
	margin: -20px 0 0;
	position: absolute;
}
.tg-testimonialsslider .tg-btnnext{ right: -60px; }
.tg-testimonialsslider .tg-btnprev{ left: -60px; }

/*Footer Style */
.tg-footer{
	background: #f7f7f7;
	border-top: 2px solid;
}
.tg-footerarea{
	width: 100%;
	float: left;
}
.tg-threecolumns{
	width: 100%;
	float: left;
	padding: 60px 0 30px;
}
.tg-footercol{
	width: 100%;
	float: left;
	min-height: 240px;
}
.newsletter-f-left {
    border-right: 1px solid #ddd;
    margin-bottom: 30px;
}
.news-letter-footer{
	padding-top: 30px; 
}
.wt-divider {
    height: 1px;
    position: relative;
    margin: 0px 0 0;
}
.home-about-block-inner {
    padding: 60px 100px 60px 30px;
    position: relative;
}
.home-about-block-inner:before {
    position: absolute;
    content: "";
    right: 25%;
    top: 35px;
    width: 25%;
    height: auto;
    border: 5px solid #fff;
    border-left: 0px;
    z-index: 1;
    bottom: 35px;
    border-left: 0px;
}
.home-about-block-inner:after {
    position: absolute;
    content: "";
    right: 0px;
    top: 0px;
    width: 50%;
    height: 100%;
    background-color: #c19b76;
}
.input-group {
    width: 100%;
}
.input-group {
    position: relative;
    display: table;
    border-collapse: separate;
}
.input-group .form-control, .input-group-addon, .input-group-btn {
    display: table-cell;
}
.newsletter-f-right .input-group-btn .site-button {
    padding: 15px 30px;
}
.site-button {
    background-color: #c19b76;
}
.btn-half {
    cursor: pointer;
    background-color: #c19b76;
    z-index: 0;
    display: inline-block;
    position: relative;
}
.site-button:after, .site-button:before, .tp-thumbs-inner-wrapper .tp-thumb.selected:after, ol.comment-list li.comment .comment-body, .header-nav .nav > li .sub-menu, .wt-tabs.vertical.bg-tabs .nav-tabs > li.active > a, .wt-tabs .nav-tabs > li.active > a, .wt-tabs .nav-tabs > li.active > a:focus, .wt-tabs .nav-tabs > li.active > a:hover, .wt-tabs.vertical .nav-tabs li.active a {
    border-color: #c19b76;
}

.bg-gray-dark {
    background-color: #d3d3d3;
}
.tg-footercol .tg-logo{padding: 0 0 30px;}
.tg-contactinfo{
	width: 100%;
	float: left;
	list-style: none;
}
.tg-contactinfo li{
	width: 100%;
	float: left;
	padding: 0 0 20px;
	line-height: inherit;
	list-style-type: none;
}
.tg-contactinfo li > i{
	width: 40px;
	height: 40px;
	font-size: 24px;
	line-height: 40px;
}
.tg-contactinfo li > i,
.tg-contactinfo li address,
.tg-contactinfo li span{
	margin: 0;
	font-style: normal;
	display: inline-block;
	vertical-align: middle;
}
.tg-contactinfo li address{
	width: 80%;
}
.tg-contactinfo li span em{
	display: block;
	font-style: normal;
}
.tg-footercol .tg-socialicons{
	width: 100%;
	float: left;
}
.tg-widget{
	width: 100%;
	float: left;
}
.tg-widget + .tg-widget{margin:30px 0 0;}
.tg-widgettitle{
	color:#fff;
	width: 100%;
	float: left;
	padding:0 20px;
	border-radius:5px;
	background:#484848;
	border-bottom: 1px solid #dbdbdb;
}
.tg-widgettitle h3{
	margin: 0;
	color: #fff;
	font-size: 14px;
	font-weight:500;
	line-height:40px;
}
.tg-widgetcontent{
	width: 100%;
	float: left;
}
.tg-widget ul{
	width: 100%;
	float: left;
	font-size: 13px;
	line-height: 17px;
	list-style: none;
	font-family: 'Barlow', sans-serif;
}
.tg-widget ul li{
	width: 100%;
	float: left;
	padding:11px 0;
	position: relative;
	line-height: inherit;
	list-style-type: none;
}
.tg-widget ul li + li{border-top:1px solid #e6e6e6;}
.tg-widget ul li a{
	color: #666;
	display:block;
}
.tg-widget ul li a em{
	float:right;
	font-style:normal;
}
.tg-widget ul li figure{
	margin: 0;
	float: left;
}
.tg-widget ul li figure a{display: block;}
.tg-widget ul li figure a img{display: block;}
.tg-widgettopsellingauthors ul li{padding: 10px 0;}
.tg-widgettopsellingauthors ul li figure{border:4px solid transparent;}
.tg-widgettopsellingauthors ul li:hover figure{
	border-color:#fff;
	-webkit-box-shadow: 0 0 10px 2px rgba(0,0,0,0.20);
	box-shadow: 0 0 10px 2px rgba(0,0,0,0.20);
}
.tg-widgettopsellingauthors ul li:before{display: none;}
.tg-widgetnavigation ul{
	width: 50%;
	float: left;
}
.tg-footercol .tg-widgettitle{
	padding:0;
	background:none;
	margin:0 0 15px;
}
.tg-footercol .tg-widgettitle h3 {
    color: #404040;
    font-size: 16px;
    padding: 0 0 20px;
    line-height: normal;
    text-transform: uppercase;
}
.tg-widget.tg-widgetnavigation ul li{
	position:relative;
	padding:11px 0 11px 15px;
}
.tg-widget.tg-widgetnavigation ul li:before{
	left:0;
	top:50%;
	width:5px;
	height:5px;
	content:'';
	margin:-2px 0 0;
	background:#666;
	position:absolute;
	border-radius:50%;
}
.tg-footercol.tg-widget ul li + li{border:0;}
.tg-widgetsearch .tg-formsearch .form-group{
	margin:0;
	position:relative;
}
.tg-widgetsearch .tg-formsearch .form-group input{height:50px;}
.tg-widgetsearch .tg-formsearch .form-group button{
	top:50%;
	z-index:2;
	color:#666;
	right:20px;
	font-size:16px;
	background:none;
	line-height:16px;
	position:absolute;
	margin:-8px 0 0 0;
}
.tg-widget.tg-catagories ul li{padding:11px 10px;}
.tg-widget.tg-widgettrending ul{padding:15px 0 0;}
.tg-widget.tg-widgettrending ul li{
	border:0;
	padding:5px 0;
}
.tg-widgetcontent .tg-post{
	margin:0;
	display: flex;
	justify-content: flex-start;
	align-items: center;
	align-content: center;
}
.tg-widgetcontent .tg-post figure{
	width:180px;
	margin:0 8px 0 0;
}
.tg-widgetcontent .tg-post .tg-postcontent{
	width:auto;
	float:none;
	padding:0;
	overflow:hidden;
}
.tg-widgetcontent .tg-post .tg-posttitle h3 a{
	width:100%;
	overflow:hidden;
	white-space:nowrap;
	text-overflow:ellipsis;
}
.tg-widgetcontent .tg-post .tg-bookwriter{padding:0;}
.tg-widgetcontent .tg-post .tg-bookwriter a{display:inline-block;}
.tg-footerbar{
	width: 100%;
	float: left;
	padding: 20px 0;
	position: relative;
	background: #484848;
}
.tg-copyright{
	color: #fff;
	font-size: 12px;
	line-height: 21px;
	text-align: center;
	font-weight: 100;
}
.tg-btnbacktotop{
	top: -20px;
	right: 30px;
	width: 40px;
	height: 40px;
	color: #484848;
	background: #fff;
	line-height: 40px;
	border-radius: 3px;
	position: absolute;
	text-align: center;
	-webkit-box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
	box-shadow: 0 0 10px 0 rgba(0,0,0,0.20);
}
.tg-btnbacktotop i{
	display: block;
	color: #484848;
	line-height: inherit;
}
/*Inner Pages Style/
/*Inner Banner Style*/
.tg-innerbanner{
	height:200px;
	text-align:center;
	-webkit-box-align: center;
	-ms-flex-align: center;
	align-items: center;
	display: -webkit-box;
	display: -ms-flexbox;
	display: flex;
	-webkit-box-orient: vertical;
	justify-content: center;
	-webkit-box-pack: center;
	-ms-flex-pack: center;
	-webkit-box-direction: normal;
	-ms-flex-direction: row;
	flex-direction: row;
}
.tg-innerbannercontent{
	width:100%;
	float:left;
}
.tg-innerbannercontent h1{
	font-size:50px;
	line-height:40px;
	font-weight:bold;
}
/*Contact Us Style*/
.tg-contactus{
	width:100%;
	float:left;
}
.contact-item {
    text-align: center;
    border: 2px solid #d1f0ff;
    padding: 50px 10px;
}
.contact-item i:before {
    margin: 0;
    font-size: 40px;
    color: #0099ff;
    vertical-align: middle;
    display: inline-block;
    background: #effaff;
    height: 90px;
    width: 90px;
    line-height: 90px;
    border-radius: 50%;
}
.contact-item h3 {
    font-size: 24px;
    margin-top: 20px;
    margin-bottom: 15px;
    font-weight: 700;
    font-family: 'Barlow', sans-serif;
}
.contact-item p{
	margin: 0px;
	padding: 0px;
}
.contact-form{
	margin-top: 30px;
}
.tg-formcontactus{
	width:auto;
	float:none;
	clear:both;
	margin:0 -10px;
	overflow:hidden;
}
.tg-formcontactus fieldset .form-group{
	width:50%;
	float:left;
	padding:0 10px;
}
.tg-formcontactus fieldset .form-group.tg-hastextarea{width:100%;}
.tg-formcontactus fieldset .form-group textarea{
	width:100%;
	float:left;
	resize:none;
	height:210px;
}
.tg-formcontactus fieldset .form-group .tg-btn{padding:0 60px;}
.tg-formcontactus fieldset .form-group .tg-btn {
    padding: 0 60px;
    font-family: 'Barlow', sans-serif;
    font-size: 18px;
    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 100;
}
.tg-contactdetail .tg-sectionhead{
	margin:0 0 30px;
	padding:0 0 25px;
}
.tg-contactdetail .tg-sectionhead h2{
	font-size:22px;
	font-weight:500;
	line-height:22px;
}
.tg-contactdetail .tg-contactinfo li {padding: 0 0 18px;}
.tg-contactdetail .tg-socialicons{
	width:100%;
	float:left;
}
/*Products Style*/
.tg-products{
	width:100%;
	float:left;
}
.tg-products .tg-sectionhead{
	margin:0 0 30px;
	padding:0 0 30px;
}
.tg-featurebook{
	width:100%;
	float:left;
	padding:30px;
	margin:0 0 30px;
	position:relative;
	background:#f7f7f7;
}
.tg-featurebook .close{
	top:30px;
	opacity:1;
	z-index:3;
	color:#fff;
	right:30px;
	width:30px;
	height:30px;
	display:block;
	font-size:14px;
	line-height:30px;
	border-radius:50%;
	position:absolute;
	background:#f16945;
}
.tg-featurebook .tg-featureditm figure{margin:0;}
.tg-featurebook .tg-featureditmcontent{
	margin:0;
	padding:0;
}
.tg-featurebook .tg-featureditmcontent .tg-booktitle{padding:0 0 10px;}
.tg-featurebook .tg-featureditmcontent .tg-booktitle h3{
	font-size:34px;
	line-height:40px;
}
.tg-featurebook .tg-featureditmcontent .tg-priceandbtn{
	width:100%;
	float:left;
	margin:25px 0 0;
	position:static;
	text-align:left;
}
.tg-featurebook .tg-featureditmcontent .tg-btn{margin:10px 0 0;}
.tg-productgrid{
	width:100%;
	float:left;
}
.tg-refinesearch {
	width: 100%;
	float: left;
	padding:0 0 15px;
}
.tg-refinesearch > span{
	float:left;
	color:#666;
	font-size:13px;
	padding: 8px 0;
	line-height:14px;
	text-transform:uppercase;
}
.tg-formsortshoitems{
	width:auto;
	float:right;
}
.tg-formsortshoitems fieldset .form-group{
	margin:0;
	width:auto;
	position: relative;
	border: 1px solid #dbdbdb;
}
.tg-formsortshoitems fieldset .form-group + .form-group{margin:0 0 0 10px;}
.tg-formsortshoitems fieldset .form-group .tg-select{
	width:100%;
	float:left;
	z-index: 2;
	position: relative;
}
.tg-formsortshoitems fieldset .form-group label{
	top: 0;
	left: 0;
	margin: 0;
	z-index: 1;
	width: auto;
	line-height: 28px;
	position: absolute;
	padding: 0 0 0 20px;
}
.tg-formsortshoitems fieldset .form-group .tg-select:after{
	right: 20px;
	line-height: 30px;
}
.tg-formsortshoitems fieldset .form-group .tg-select select{
	border: 0;
	height: auto;
	border-radius: 0;
	line-height: 28px;
	padding: 0 32px 0 62px;
	background: transparent;
}
.tg-productgrid .tg-postbook .tg-postbookcontent .tg-btn {
    width: 100%;
    margin: 20px auto 0;
    padding-left: 51px;
    padding-right: 7px;
    text-align: center;
}
.tg-productgrid .tg-postbook {min-height: 536px;}
.col-xs-2{
    background:#00f;
    color:#FFF;
}
.col-half-offset{
    margin-left:4.166666667%
}
/*Author Detail Style*/
.tg-authordetail{
	width:100%;
	float:left;
}
.tg-authordetail .tg-authorimg{
	border:0;
	padding:0;
	width:auto;
	float:left;
	height:auto;
	border-radius:0;
	margin:0 30px 0 0;
}
.tg-authordetail .tg-authorimg img{
	width:100%;
	height:auto;
	display:block;
}
.tg-authorcontentdetail{overflow:hidden;}
.tg-authorcontentdetail .tg-sectionhead{
	margin:0 0 30px;
	padding:0 0 30px;
}
.tg-authorcontentdetail .tg-socialicons{
	float:right;
	text-align:right;
}
.tg-authorcontentdetail .tg-description p{margin:0 0 25px;}
.tg-booksfromauthor{
	width:100%;
	float:left;
}
.tg-booksfromauthor .tg-postbook {min-height: 530px;}
.tg-booksfromauthor .tg-postbook .tg-postbookcontent .tg-stars{margin:0 0 20px;}
.tg-booksfromauthor .tg-sectionhead{
	margin:0 0 15px;
	padding:0 0 27px;
}
.tg-booksfromauthor .tg-sectionhead h2{
	font-size:22px;
	font-weight:500;
	line-height:20px;
}
.tg-booksfromauthor .tg-postbook .tg-btn{padding:0;}
.tg-booksfromauthor .tg-postbook .tg-btn i,
.tg-booksfromauthor .tg-postbook .tg-btn em{float:none;}
/*News Letter*/
.tg-formnewsletter {margin: -12px 0;}
.tg-formnewsletter fieldset{position: relative;}
.tg-formnewsletter fieldset .form-control{
	z-index: 1;
	height: 50px;
	line-height: 28px;
	position: relative;
	padding-right: 60px;
}
.tg-formnewsletter fieldset button {
    top: 0;
    right: 0;
    z-index: 2;
    width: 93px;
    height: 50px;
    font-size: 16px;
    line-height: 50px;
    position: absolute;
    background: #0084ff;
    color: #fff;
}
.tg-btns.mt-5 {
    margin-top: 16rem;
    margin-left: 24rem;
}
.carousel{
	height: 550px;
}
.carousel .carousel-inner .item img{
	height: 480px;
}
.tg-authorimg .images img {
    position: relative;
    z-index: 2222;
    height: 333px;
    width: 100%;
}
.tg-authorimg .images {
    position: relative;
    margin-left: 0px;
    padding-top: 6%;
    padding-right: 7%;
    padding-left: 0%;
}
.tg-authorimg .images:before {
    position: absolute;
    content: '';
    right: 0px;
    top: 1px;
    bottom: 30px;
    left: 60px;
    height: 373px;
    background-color: #0084ff;
}