  /*
    Flaticon icon font: Flaticon
    Creation date: 20/08/2019 13:57
    */

@font-face {
  font-family: "Flaticon";
  src: url("Flaticon.eot");
  src: url("Flaticon.eot?#iefix") format("embedded-opentype"),
       url("Flaticon.woff2") format("woff2"),
       url("Flaticon.woff") format("woff"),
       url("Flaticon.ttf") format("truetype"),
       url("Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("Flaticon.svg#Flaticon") format("svg");
  }
}

[class^="flaticon-"]:before, [class*=" flaticon-"]:before,
[class^="flaticon-"]:after, [class*=" flaticon-"]:after {   
  font-family: Flaticon;
        font-size: 20px;
font-style: normal;
margin-left: 20px;
}

.flaticon-money:before { content: "\f100"; }
.flaticon-analysis:before { content: "\f101"; }
.flaticon-repair:before { content: "\f102"; }
.flaticon-placeholder:before { content: "\f103"; }
.flaticon-handshake:before { content: "\f104"; }
.flaticon-phone-call:before { content: "\f11c"; }
.flaticon-email:before { content: "\f166"; }
.flaticon-process:before { content: "\f107"; }
.flaticon-money-1:before { content: "\f108"; }
.flaticon-money-bag:before { content: "\f109"; }
.flaticon-air-freight:before { content: "\f10a"; }
.flaticon-online-support:before { content: "\f10b"; }
.flaticon-job:before { content: "\f10c"; }
.flaticon-laptop:before { content: "\f10d"; }
.flaticon-pin:before{ content: "\f17b"; }